<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboot.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO userInfo(name,username,password,power,shenpi)
        VALUES(#{name},#{userName},#{password},#{power},#{shenpi})
    </insert>


    <select id="getAll" resultType="com.myboot.pojo.User">
        select *
        from userInfo
    </select>


    <sql id="baseSql">
        id,name,username,password,power,shenpi,cangku,dianpu,hesuan_danwei,changyong
    </sql>
    <select id="login" parameterType="com.myboot.vo.UserVO" resultType="com.myboot.pojo.User">
        select
        id,name,username,power,shenpi,cangku,dianpu,hesuan_danwei,changyong,shoukuan_zhanghu,zhibao_dengji
        from userInfo
        where
        username = #{username}
        and
        password = #{password}
    </select>

    <select id="getUserInfoById">
        select
        id,name as name,username as userName,power as power ,shenpi as shenpi,
        cangku as cangku,dianpu as dianpu,
        hesuan_danwei as hesuanDanwei,changyong as changyong,
        shoukuan_zhanghu,zhibao_dengji
        from
        userInfo
        where
        id = #{id}
    </select>

    <update id="updateById">
        update userInfo
        <set>
            <if test="name!=null">name = #{name},</if>
            <if test="password!=null">password = #{password},</if>
            <if test="power!=null">power=#{power},</if>
            <if test="shenpi!=null">shenpi=#{shenpi},</if>
            <if test="cangku!=null">cangku=#{cangku},</if>
            <if test="dianpu!=null">dianpu=#{dianpu},</if>
            <if test="hesuanDanwei!=null">hesuan_danwei=#{hesuanDanwei},</if>
            <if test="changyong!=null">changyong=#{changyong},</if>
        </set>
        where
        id=#{id}
    </update>
    <resultMap id="queryAllUsersMap" type="com.myboot.pojo.User_Peizhi">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="name" property="name"/>
        <!--        <result column="password" property="password"/>-->
        <result column="power" property="power"/>
        <result column="shenpi" property="shenpi"/>
        <association property="cangku" javaType="com.myboot.pojo.Peizhi">
            <id column="CK_id" property="id"/>
            <result column="CK_name" property="name"/>
        </association>
        <association property="dianpu" javaType="com.myboot.pojo.Peizhi">
            <id column="DP_id" property="id"/>
            <result column="DP_name" property="name"/>
        </association>
        <association property="hesuanDanwei" javaType="com.myboot.pojo.Peizhi">
            <id column="HD_id" property="id"/>
            <result column="HD_name" property="name"/>
        </association>
    </resultMap>
    <!--    <select id="queryAllUsers" resultMap="queryAllUsersMap">-->
    <!--        select u.id, u.username as userName,  u.name as name, u.power, u.shenpi,-->
    <!--        p1.id as CK_id, p1.name as CK_name,-->
    <!--        p2.id as DP_id, p2.name as DP_name,-->
    <!--        p3.id as HD_id, p3.name as HD_name-->
    <!--        from userInfo u-->
    <!--        left join peizhi p1 on p1.id = u.cangku-->
    <!--        left join peizhi p2 on p2.id = u.dianpu-->
    <!--        left join peizhi p3 on p3.id = u.hesuan_danwei-->
    <!--    </select>-->

    <select id="queryAllUsers">
        select id, username as userName,password, name, power, shenpi
        from userInfo
    </select>


    <select id="queryShenpis">
        select id, name from userInfo
    </select>

    <delete id="deleteUsrById">
        delete from userInfo where id=#{id}
    </delete>

    <select id="fuzzyQuery">
        select id, name, username as userName,password, power, shenpi from userInfo
        where name like '%'+#{keyword}+'%'
    </select>

    <update id="updCangKu">
        update userInfo set cangku = #{typeId} where id= #{id}
    </update>

    <update id="updDianPu">
        update userInfo set dianpu = #{typeId} where id= #{id}
    </update>

    <update id="updHeSuanDanWei">
        update userInfo set hesuan_danwei = #{typeId} where id= #{id}
    </update>

    <update id="updShouKuanZhangHu">
        update userInfo set shoukuan_zhanghu = #{typeId} where id= #{id}
    </update>

    <update id="updZhiBaoDengJi">
        update userInfo set zhibao_dengji = #{typeId} where id= #{id}
    </update>

</mapper>