<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboot.mapper.XiaoShouChuKuItemMapper">

    <insert id="chuKuItemAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO xiaoshou_chuku_item(shangpin_bianma,name,guige,caizhi,jishu_biaozhun,zhibao_dengji,danwei,shuliang,
        xiaoshou_danjia,jiashui_xiaoji,beizhu,chuku_id)
        VALUES (#{shangpinBianma},#{name},#{guige},#{caizhi},#{jishuBiaozhun},#{zhibaoDengji},#{danwei},#{shuliang},
        #{xiaoshouDanjia},#{jiashuiXiaoji},#{beizhu},#{chukuId})
    </insert>

    <update id="chuKuItemUpd">
        UPDATE xiaoshou_chuku_item set shangpin_bianma = #{shangpinBianma},name = #{name},guige = #{guige},caizhi = #{caizhi},
        jishu_biaozhun = #{jishuBiaozhun},zhibao_dengji = #{zhibaoDengji},danwei = #{danwei},shuliang = #{shuliang},
        xiaoshou_danjia = #{xiaoshouDanjia},jiashui_xiaoji = #{jiashuiXiaoji},beizhu = #{beizhu},chuku_id = #{chukuId}
        WHERE id = #{id}
    </update>

    <delete id="deleteByChuKuItemId">
        DELETE from xiaoshou_chuku_item
        WHERE id = #{id}
    </delete>

    <select id="getAll" resultType="com.myboot.pojo.XiaoShouChuKuItem">
        SELECT *
        FROM xiaoshou_chuku_item
    </select>

    <select id="selectByChuKuItemId" resultType="com.myboot.pojo.XiaoShouChuKuItem">
        <![CDATA[
            SELECT * from xiaoshou_chuku_item where chuku_id = #{id}
        ]]>
    </select>
</mapper>