<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboot.mapper.XiaoShouChuKuMapper">

    <insert id="chuKuAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO xiaoshou_chuku(bianhao,riqi,kehu, dianpu, cangku,beizhu,xiaoshou_id,chuku_danwei,yewuyuan)
        VALUES (#{bianhao},#{riqi},#{kehu},#{dianpu},#{cangku},#{beizhu},#{xiaoshouId},#{chukuDanwei},#{yewuyuan})
    </insert>

    <update id="chuKuUpd">
        UPDATE xiaoshou_chuku set bianhao = #{bianhao},riqi = #{riqi},kehu = #{kehu}, dianpu = #{dianpu},
        cangku = #{cangku},beizhu = #{beizhu},xiaoshou_id = #{xiaoshouId},chukuDanwei = #{chukuDanwei},yewuyuan = #{yewuyuan}
        WHERE id = #{id}
    </update>

    <delete id="deleteByChuKuId">
        DELETE from xiaoshou_chuku
        WHERE id = #{id}
    </delete>

    <select id="getAll" resultType="com.myboot.pojo.XiaoShouChuKu">
        SELECT *
        FROM xiaoshou_chuku
    </select>

    <select id="queryList" resultType="com.myboot.pojo.XiaoShouChuKu">
        <![CDATA[
            SELECT * from xiaoshou_chuku where
            riqi >= #{start_date} and riqi <= #{stop_date} and kehu like '%' + #{kehu} + '%'
        ]]>
    </select>

    <select id="selectByChuKuId" resultType="com.myboot.pojo.XiaoShouChuKu">
        <![CDATA[
            SELECT * from xiaoshou_chuku where id = #{id}
        ]]>
    </select>

    <select id="selectMaxDanHao" resultType="com.myboot.pojo.XiaoShouChuKu">
        <![CDATA[
            select convert(float,SUBSTRING(isnull(max(bianhao),'CK000000'),3,6)) + 1 as bianhao from xiaoshou_chuku
        ]]>
    </select>

    <select id="selectWeiFu" resultType="com.myboot.pojo.XiaoShouChuKu">
        <![CDATA[
            select id,bianhao,riqi,kehu,dianpu,jiashui_xiaoji,isnull(yifu,0) as yifu,round(isnull(jiashui_xiaoji,0)-isnull(yifu,0),2) as weifu,1 as isselect from (select id,bianhao,riqi,kehu,dianpu,jiashui_xiaoji from xiaoshou_chuku as chuku left join(select chuku_id,sum(convert(float,isnull(jiashui_xiaoji,0))) as jiashui_xiaoji from xiaoshou_chuku_item group by chuku_id) as chuku_money on chuku.id = chuku_money.chuku_id ) as chuku_dingdan left join(select danju_leixing,danju_bianhao,sum(convert(float,isnull(jizhang_jine,0))) + sum(convert(float,isnull(kedi_shuie,0))) as yifu from shouzhi_mingxi group by danju_leixing,danju_bianhao) as fukuan on chuku_dingdan.bianhao = fukuan.danju_bianhao where round(isnull(jiashui_xiaoji,0)-isnull(yifu,0),2) > 0
        ]]>
    </select>

    <!--    详情-商品-->
    <select id="xiangQingShangPin" resultType="com.myboot.pojo.XiaoShouChuKuXiangQing">
        <![CDATA[
            select * from xiaoshou_chuku_item where chuku_id = #{id}
        ]]>
    </select>

    <!--    详情-收款-->
    <select id="xiangQingShouKuan" resultType="com.myboot.pojo.XiaoShouChuKuXiangQing">
        <![CDATA[
            select id,shouzhi_bianhao,shouzhi_riqi,convert(float,isnull(jizhang_jine,0)) + convert(float,isnull(kedi_shuie,0)) as money from shouzhi_mingxi where danju_leixing = '销售出库' and danju_bianhao = #{bianhao};
        ]]>
    </select>

    <!--    详情-开票-->
    <select id="xiangQingKaiPiao" resultType="com.myboot.pojo.XiaoShouChuKuXiangQing">
        <![CDATA[
            select xiaoshou_kaipiao.id,xiaoshou_bianhao,kaipiao_riqi,jiashui_heji,xiaoshou_kaipiao.beizhu from xiaoshou_chuku left join xiaoshou_kaipiao on xiaoshou_chuku.bianhao = xiaoshou_kaipiao.xiaoshou_bianhao where bianhao = #{bianhao} and isnull(xiaoshou_kaipiao.id,'') != '';
        ]]>
    </select>

    <!--    详情-订金-->
    <select id="xiangQingDingJin" resultType="com.myboot.pojo.XiaoShouChuKuXiangQing">
        <![CDATA[
            select isnull(sum(convert(float,isnull(jizhang_jine,0))+convert(float,isnull(kedi_shuie,0))),0) as dingjin from shouzhi_mingxi where danju_leixing = '销售订单' and danju_bianhao = #{bianhao};
        ]]>
    </select>

    <!--    详情-订金已用-->
    <select id="xiangQingDingJinYiYong" resultType="com.myboot.pojo.XiaoShouChuKuXiangQing">
        <![CDATA[
            select isnull(sum(convert(float,isnull(dingjin_use,0))),0) as yiyong from xiaoshou_chuku where xiaoshou_id = #{bianhao};
        ]]>
    </select>

    <!--    详情-订金使用-->
    <update id="chuKuDingJinUpd">
        UPDATE xiaoshou_chuku set dingjin_use = #{dingjin}
        WHERE id = #{id}
    </update>

    <!--    详情-需开票查询-->
    <select id="xiangQingXuKaiPiao" resultType="com.myboot.pojo.XiaoShouChuKuXiangQing">
        <![CDATA[
            select id,bianhao,riqi,kehu,dianpu,cangku,beizhu,xiaoshou_id,chuku_danwei,yewuyuan,jiashui_xiaoji,chuku_id,isnull(xiaoshou_bianhao,'') as xiaoshou_bianhao,isnull(jiashui_heji,0) as jiashui_heji,jiashui_xiaoji-isnull(jiashui_heji,0) as weikai,jiashui_xiaoji-isnull(jiashui_heji,0) as this_kai from (select * from xiaoshou_chuku as chuku left join (select sum(convert(float,isnull(jiashui_xiaoji,0))) as jiashui_xiaoji,chuku_id from xiaoshou_chuku_item group by chuku_id) as item on chuku.id = item.chuku_id) as chuku left join (select xiaoshou_bianhao,sum(convert(float,isnull(jiashui_heji,0))) as jiashui_heji from xiaoshou_kaipiao group by xiaoshou_bianhao) as kaipiao on chuku.bianhao = kaipiao.xiaoshou_bianhao where jiashui_xiaoji-isnull(jiashui_heji,0) > 0 and bianhao = #{bianhao}
        ]]>
    </select>

</mapper>

