<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboot.mapper.XiaoShouDingDanMapper">

    <insert id="xiaoShouAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO xiaoshou_dingdan(bianhao,riqi,kehu, yewuyuan, shoujianren,shoujian_phone,shoujian_dizhi, dianpu,
        xiaoxiang_shuilv, beizhu,shenhe,shenhe_zhuangtai,jiashui_heji,jiage_dengji)
        VALUES (#{bianhao},#{riqi},#{kehu},#{yewuyuan},#{shoujianren},#{shoujian_phone},#{shoujian_dizhi},#{dianpu},
        #{xiaoxiang_shuilv},#{beizhu},#{shenhe},#{shenhe_zhuangtai},#{jiashui_heji},#{jiage_dengji})
    </insert>

    <update id="xiaoShouUpd">
        UPDATE xiaoshou_dingdan set bianhao=#{bianhao},riqi=#{riqi},kehu=#{kehu}, yewuyuan=#{yewuyuan}, shoujianren=#{shoujianren},
        shoujian_phone=#{shoujian_phone},shoujian_dizhi=#{shoujian_dizhi}, dianpu=#{dianpu}, xiaoxiang_shuilv=#{dianpu},
        beizhu=#{beizhu},shenhe=#{shenhe},shenhe_zhuangtai=#{shenhe_zhuangtai},jiashui_heji=#{jiashui_heji},jiage_dengji=#{jiage_dengji}
        WHERE id = #{id}
    </update>
    <delete id="deleteXiaoShouById">
        DELETE from xiaoshou_dingdan
        WHERE id = #{id}
    </delete>

    <select id="getAll" resultType="com.myboot.pojo.XiaoShouDingDan">
        <![CDATA[
            select * from xiaoshou_dingdan
        ]]>
    </select>

    <select id="getAllByShenHe" resultType="com.myboot.pojo.XiaoShouDingDan">
        <![CDATA[
            select * from xiaoshou_dingdan where shenhe = #{shenhe}
        ]]>
    </select>

    <select id="queryList" resultType="com.myboot.pojo.XiaoShouDingDan">
        <![CDATA[
            select * from xiaoshou_dingdan
            where riqi >= #{start_date} and riqi <= #{stop_date} and kehu like "%" #{kehu} "%" and shenhe_zhuangtai like "%" #{shenhe_zhuangtai} "%"
        ]]>
    </select>

    <select id="selectXiaoShouById" resultType="com.myboot.pojo.XiaoShouDingDan">
        <![CDATA[
            select * from xiaoshou_dingdan
            where id = #{id}
        ]]>
    </select>
</mapper>